<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="center">
      <form action="" method="POST"> {% csrf_token %}
          <div class="">
    <h1 class="font-semibold text-2xl text-center my-6">Checkout Payment</h1>
<!-- This example requires Tailwind CSS v2.0+ -->
    <div class="flex flex-col w-max mx-auto">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                <tr>
                    
                </tr>
                <tr>
                    {{ quiz }}
                </tr>
                </thead>
                                                                          
            </table>
            </div>
        </div>
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                <tr>

                </tr>
                <tr>
                    <label id="price">Price {{ quiz.quiz_price }}</label>
                   <label id="price" style="display: none;">{{ quiz.quiz_price }}</label>
                </tr>
                </thead>
                                                                          
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
         

          <!---RAZORPAY INTEGRATION HERE-->

          <script src="https://checkout.razorpay.com/v1/checkout.js"
              data-key="rzp_test_uCzWnrEymDyUU5"
              data-amount="50000"
              data-currency="INR"
              data-order_id="{{payment.id}}"
              data-buttontext="Pay with Razorpay"
              data-name="Quiz"
              data-description="{{ quiz}} Quiz"
              data-image="https://example.com/your_logo.jpg"
              data-prefill.name="PC"
              data-prefill.email="pc@studygyaan.com"
              data-theme.color="#G37224">
              data-button_theme="rzp-dark-standard"
          </script>
      </form>
  </div>
  
  </body>
</html>